In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
df = pd.read_csv("data/yellow_tripdata/yellow_tripdata_2021-01.csv")
df.head()

/var/folders/m0/nhpw880n2pbdfh3k943xczbr0000gn/T/ipykernel_7206/163447371.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("yellow_tripdata_2021-01.csv.gz")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [14]:
df.shape

(1369765, 18)

In [2]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [3]:
engine.connect()

In [5]:
query = """
        SELECT 1; 
"""

pd.read_sql(query, con=engine)

   ?column?
0         1

In [9]:
query = """
        SELECT * 
        FROM pg_catalog.pg_tables 
        WHERE schemaname != 'pg_catalog' AND 
        schemaname != 'information_schema'; 
"""

pd.read_sql(query, con=engine) # Right now the output is empty cause I haven't created any tables as such

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False

In [7]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

100

In [6]:
# Test a sample query 
query = """
        SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

In [7]:
# Running again 
query = """
        SELECT * 
        FROM pg_catalog.pg_tables 
        WHERE schemaname != 'pg_catalog' AND 
        schemaname != 'information_schema'; 
"""

pd.read_sql(query, con=engine) # Right now the output is empty cause I haven't created any tables as such

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False
1,public,yellow_taxi_data,root,None,True,False,False,False

In [11]:
# Print and get the SQL schema 
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [16]:
# Just check if the data is read 
df_chunk = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [17]:
df_next_chunk = next(df_chunk)

In [18]:
len(df_next_chunk)

100000

In [20]:
# Here I can see that the pickup and drop-off times ar egiven as TEXT values, and so I need to kinda conver them to DATETIME format 
df_next_chunk["tpep_pickup_datetime"] = pd.to_datetime(df_next_chunk["tpep_pickup_datetime"])
df_next_chunk["tpep_dropoff_datetime"] = pd.to_datetime(df_next_chunk["tpep_dropoff_datetime"])

In [22]:
# Now since I have done all the conversions, I will check in to see what all tables I do have 
df_next_chunk.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

- Cause of all the created confusion, I am creating the databases again

In [23]:
%time df_next_chunk.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 2.37 s, sys: 65.8 ms, total: 2.43 s
Wall time: 3.91 s

1000

In [24]:
from time import time

In [ ]:
# Insert all chunks one by one 
while True:
    t_start = time()
    
    df_subset = next(df_chunk)
    
    df_subset["tpep_pickup_datetime"] = pd.to_datetime(df_subset["tpep_pickup_datetime"])
    df_subset["tpep_dropoff_datetime"] = pd.to_datetime(df_subset["tpep_dropoff_datetime"])
    
    df_subset.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print("Inserted another chunk..., took %.3f seconds" % (t_end-t_start))

Inserted another chunk..., took 4.008 seconds
Inserted another chunk..., took 3.978 seconds
Inserted another chunk..., took 3.953 seconds
Inserted another chunk..., took 3.924 seconds
Inserted another chunk..., took 3.891 seconds
Inserted another chunk..., took 3.961 seconds
Inserted another chunk..., took 4.028 seconds
Inserted another chunk..., took 3.966 seconds
Inserted another chunk..., took 3.962 seconds
Inserted another chunk..., took 4.012 seconds
Inserted another chunk..., took 4.054 seconds

/var/folders/m0/nhpw880n2pbdfh3k943xczbr0000gn/T/ipykernel_7206/2101171886.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_subset = next(df_chunk)

Inserted another chunk..., took 3.925 seconds
Inserted another chunk..., took 2.546 seconds

StopIteration:

:

In [4]:
# Insert the taxi zone lookup data to PostGres 
df_zone_lookup = pd.read_csv("taxi_zone_lookup.csv")
df_zone_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
# Insert it to database 
df_zone_lookup.to_sql(name="zones", con=engine, if_exists="replace")

265